<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @roaster.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @roaster.location %>
</p>

<%= link_to 'Edit', edit_roaster_path(@roaster) %> |
<%= link_to 'Back', roasters_path %>
