<%= form_with(model: roast, local: true) do |form| %>
  <% if roast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roast.errors.count, "error") %> prohibited this roast from being saved:</h2>

      <ul>
      <% roast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :roast_name %>
  </div>

  <div class="field">
    <%= form.label :roaster_id %>
    <%= form.text_field :roaster_id, id: :roast_roaster_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
