<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @roast.name %>
</p>

<p>
  <strong>Roaster:</strong>
  <%= link_to @roast.roaster.name, @roast.roaster %>
</p>

<%= link_to 'Edit', edit_roast_path(@roast) %> |
<%= link_to 'Back', roasts_path %>
