<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :review_rating %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :review_notes %>
  </div>

  <div class="field">
    <%= form.label :roast_id %>
    <%= form.text_field :roast_id, id: :review_roast_id %>
  </div>

  <div class="field">
    <%= form.label :serving_id %>
    <%= form.text_field :serving_id, id: :review_serving_id %>
  </div>

  <div class="field">
    <%= form.label :reviewer_id %>
    <%= form.text_field :reviewer_id, id: :review_reviewer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
